// .babelrc
{
    "presets": [
        [
            "@babel/preset-env",
            {
                // 防止报错
                "corejs": "3",
                "useBuiltIns": "usage",
                // "modules": "commonjs"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ]
    ]
}