.myBlog {
    .blogHeader {
        background-color: #20394c;

        .menu {
            font-size       : 16px;
            background-color: #20394c;
            width           : 1024px;
            height          : 64px;
            line-height     : 64px;
            display         : flex;
            margin          : 0 auto;

            li {
                flex : column;
                width: 10%;

                a {
                    color           : #fff;
                    width           : 100%;
                    background-color: #20394c;
                    text-align      : center;
                    display         : block;
                }

                a:hover {
                    background-color: rgba(47, 106, 151, 0.5);
                }
            }
        }

        .ant-menu-horizontal {
            border: none;
        }

    }

    .main {
        width      : 1024px;
        height     : 100%;
        margin     : 0 auto;
        padding-top: 20px;

        .mainLeft {
            width: 700px;
            float: left;

            .bannerMain {
                width   : 700px;
                height  : 100%;
                position: relative;
                float   : left;

                .banner {
                    width      : 700px;
                    height     : 380px;
                    position   : relative;
                    overflow   : hidden;
                    white-space: nowrap;

                    .bannerContainer {
                        width   : 700*4px;
                        height  : 100%;
                        position: relative;

                        li {
                            float: left;
                        }

                        img {
                            width : 700px;
                            height: 380px;
                        }
                    }
                }

                .doc {
                    width   : 100px;
                    margin  : 0 auto;
                    position: absolute;
                    top     : 350px;
                    left    : 310px;

                    li {
                        width        : 11px;
                        margin       : 0 8px;
                        float        : left;
                        display      : block;
                        height       : 11px;
                        border       : 1px solid #999;
                        border-radius: 50%;
                        cursor       : pointer;

                    }
                }
            }
        }

        .mainRight {
            width: 300px;
            overflow: hidden;
            float: left;
            margin-left: 20px;
            .tipContainer {
                float      : left;
                width      : 300px;
                height     : 120px;
                border     : 1px solid #ccc;
                padding    : 40px;
                text-align : center;
                background : #fff;
                box-shadow : 0px 2px 1px #999;

                p {
                    font-size: 16px;
                }
            }

            .avatarCar {
                width      : 300px;
                float      : left;
                margin-Top : 10px;

                .PersonalTotal {
                    height       : 50px;
                    margin-top   : 15px;
                    margin-bottom: -8px;
                    padding-left : 10px;

                    li {
                        float     : left;
                        width     : 80px;
                        text-align: center;

                        p {
                            margin: 0px;
                        }
                    }
                }
            }
        }







    }

}

// .ant-layout {
//     background-color: #20394c !important;
// }